*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Barlow", sans-serif;
    background-repeat: no-repeat;
    background-position:top;
    color: hsl(0, 0%, 100%);
}

.header{
    display: flex;
    justify-content:space-between;
    height: 136px;
}

.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-left: 58px;
    height: 48px;
    margin-top: 63px;
}

.logo__svg{
    width: 48px;
    height: 48px;
}

.header__divider{
    display: block;
    stroke-width:3;
    stroke:hsl(0, 0%, 38%);
    margin-top: 75px;
    margin-left: 60px;
}

.navigation{
    display: flex;

}

.navigation__divider{
    display: block;
    stroke-width:3;
    stroke:hsl(0, 0%, 38%);
    margin-top: 75px;
    position: absolute;
    z-index: 999;
}

.navigation__list{
    display: flex;
    column-gap: 50px;
    justify-content: center;
    min-width: 736px; 
    height: 98px;
    backdrop-filter:blur(20px); 
    background-color: rgba(33,35,45, 0.4);
    margin-top: 40px;
}

.navigation__item{
    list-style-type: none;
    text-transform: uppercase;
    padding-top: 35px; 
    font-weight: 300 !important;
}

.navigation__link{
    text-decoration: none;  
    color: hsl(0, 0%, 100%);
}


.navigation__number{
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
    letter-spacing: 2px;
}

.navigation__icon-close{
    display:none;    
}

.header__icon-hamburger{
    display: none;
}

@media only screen and (max-width: 950px) {
    .navigation__list{
        column-gap: 35px;
        justify-content: right;
        min-width: 630px; 
        height: 98px;
        margin-top: 40px;
        padding-right: 35px;
    }
}

@media only screen and (max-width: 820px) {
    .header__divider{
          display:none;
      }
      .navigation__divider{
          display: none;
      }
  }

  @media only screen and (max-width: 768px) {
  
    .header{
        height: 96px;
    }       

    .header__logo{
        margin-left: 38px;
        height: 48px;
        margin-top: 26px;
        margin-right: 0px;
    }

 
     .navigation__list{
        column-gap: 25px;
        justify-content: right;
        min-width:580px; 
        height: 98px;
        margin-top: 0px;
        padding-right: 30px;
    }

    .navigation__item{
        list-style-type: none;
        text-transform: uppercase;
        padding-top: 38px;
        height: 96px;
    }

    .navigation__number{
        font-size: 16px;
    }
    }
   
    @media only screen and (max-width: 700px) {
        .header{
            height: 88px;
        }   
    
        .navigation{
            display: none;
            justify-content: space-between;
            z-index: 1;
            position: relative;
        }
    
      .navigation__list{
        display: none;
        min-width:254px; 
        padding-top: 140px; 
        padding-left: 30px;
        padding-right: 5px;
        height: 1024px;
      }
    
      .navigation__item{
        padding-top: 0px; 
        height:auto; 
        margin-bottom: 40px;
    }
    
    .header__icon-hamburger{
        display: block;
        margin-top: 35px;
        margin-right: 22px;
    }

    .header__icon-hamburger:hover{
        cursor:pointer;
      }
    
     .navigation__icon-close{
        display: block;
        position: absolute;
        z-index: 1;
        top:35px;
        right:22px;
    }
    
      .navigation__icon-close:hover{
        cursor:pointer;
    }

  .selected__nav-right{
        border-right: 5px solid rgb(255, 255, 255);
    }

}

@media only screen and (min-width: 700px) {

    .selected__nav{
        border-bottom: 3px solid rgb(255, 255, 255);
        padding-bottom: 40px;   
    }
    
 .navigation__link:hover:not(.selected__nav) {
        border-bottom: 3px solid rgb(255, 255, 255);
        padding-bottom: 39px;   
    }
}

@media only screen and (max-width: 375px) {

    .navigation{
        position: relative;
    }

        .header__logo{
            display: block;
            margin-top: 24px;
            margin-left: 24px;
            margin-right: 0px;
        }

        .logo__svg{
            width: 40px;
            height: 40px;
        }

   .header{
            height: 100%;
            grid-area: 1 / 1; /*задаем  grid display: grid из index.css, destination.css, crew.css, technology.css чтобы задать 100% высоты навигации на странице*/
        }
    
    .navigation__list{
          height: 100%;
          }           

        }

